.root {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

@media only screen and (min-width: 470px) and (max-width: 800px) {
	.root{
		flex-direction: row;
		justify-content: space-between;
	}
}

@media only screen and (max-width: 469px) {
	.root{
		display: grid;
		grid-template-columns: auto auto;
		justify-content: center;
	}
}
