.root {
	display: block;
}
.inner {
	display: block;
	background-color: transparent;
	overflow: hidden;
	color: var(--c-text);
	width: var(--data-width);
	height: var(--data-height);
	border-radius: 0.2em;

	background-image: linear-gradient(70deg,
			transparent calc((var(--data-w) + 300px) / 2 - 100px),
			rgb(211, 211, 211, 0.6) calc((var(--data-w) + 300px) / 2),
			transparent calc((var(--data-w) + 300px) / 2 + 100px));
	background-size: calc(var(--data-w) + 600px) var(--data-h);
	background-position: calc(0px - var(--data-x)) calc(0px - var(--data-y));
	background-position-x: calc(0px - var(--data-w) / 2 - 50px - var(--data-x));

	animation: anim 2s ease-in-out 0s infinite;
}

@keyframes anim {
	0% {
		background-position-x: calc(0px - var(--data-w) / 2 - 250px - var(--data-x));
	}

	100% {
		background-position-x: calc(var(--data-w) + 400px - var(--data-w) / 2 - 50px - var(--data-x));
	}
}
