.slider {
	width: 100%;
	margin: 1em 0 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	user-select: none;
	touch-action: pan-y;
}

.btn_prev,
.btn_next {
	position: absolute;
	font-size: 50px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.btn_prev {
	left: 0.2em;
}

.btn_next {
	right: 0.2em;
}

.btn_prev_dis,
.btn_next_dis {
	opacity: 0.4;
	cursor: auto;
}

.slider_overflow {
	width: 100%;
	padding: 3em 0;
	overflow: hidden;
}

.slides_line {
	transition: all 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

.slider_moved {
	transition: all 0.02s ease;
}

.slides_line.grab {
	cursor: grab;
}

.slides_line.grabbing {
	cursor: grabbing;
}

.dots {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.6em;
}

.dot {
	opacity: 0.4;
	cursor: pointer;
	width: 0.6em;
	height: 0.6em;
	border-radius: 100%;
	background-color: var(--c-text);
}

.dot_active {
	opacity: 1;
	cursor: auto;
	width: 0.9em;
	height: 0.9em;
}
