.root {
    width: 259px;
    display: flex;
    flex-direction: column;
    border-radius: 0.75em;
    padding: 1em;
    background: var(--c-card);
    color: var(--c-text);
    box-shadow: 0 3px 0px -3px var(--c-text);
    transition: box-shadow;
    transition-duration: 150ms;
}

.root:hover {
    box-shadow: 0 3px 7px -3px var(--c-text);
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 35px;
    margin-bottom: 8px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
