.loadingIcon {
    animation: spin 1s linear infinite;
}

.loadingIcon__path {
    fill: var(--c-text);
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}