.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.container {
	display: flex;
	justify-content: center;
	margin: 1.5em 0;
	flex-grow: 1;
}

.content {
	width: 100%;
	max-width: var(--max-width);
	overflow: hidden;
}

.header {
	position: sticky;
	top: 0;
	z-index: 2;
}
