.root {
	padding: 0.6em 2em;
	background-color: var(--c-primary);
	display: flex;
	justify-content: center;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
	width: 100%;
	max-width: var(--max-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand {
	font-family: 'Neue Machina';
	font-weight: 800;
	text-transform: uppercase;
}

.link {
	font-family: 'Neue Machina';
	font-style: normal;
	font-weight: 500;
	color: var(--c-text);
	text-decoration-skip-ink: none;
	text-decoration: none;
	cursor: pointer;
}
.link:hover {
	text-decoration: underline;
}
.linkActive {
	color: var(--c-link);
	text-decoration: underline;
}

.switchers {
	display: flex;
}

.langSwitch {
	background: none;
	border: none;
	margin-right: 0.5em;
}
.langSwitch:nth-child(2) {
	margin-right: 1.2em;
}
