.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.modal_active {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
}


.modal__content {
    display: flex;
    flex-direction: column;
    padding: 48px;
    border-radius: 12px;
    background-color: white;
    font-family: 'Neue Machina';
    font-style: normal;
    position: relative;
}

.modal__closeIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
}

.modal__closeIcon__img {
    width: 20px;
    height: 20px;
}

.modal__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.01em;
}

.modal__form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.modal__form__blockArea {
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal__form__block__labelArea {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #16161A;
    margin-top: 12px;
    max-width: 143px;
}

.modal__form__block__textArea {
    border: 1px solid #D2D3D9;
    border-radius: 2px;
    outline: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #16161A;
    height: 140px;
    flex: 1;
    max-width: 352px;
    padding: 12px 12px 12px 20px;
    resize: none;
}

.modal__form__block {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.modal__form__block__error {
    margin-bottom: 10px;
    color: red;
}
.modal__form__block__label {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #16161A;
}

.modal__form__block__input {
    border: 1px solid #D2D3D9;
    border-radius: 2px;
    outline: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #16161A;
    height: 48px;
    flex: 1;
    max-width: 352px;
    padding: 12px 12px 12px 20px;
}

.modal__form__block__input:focus {
    border: 1px solid #4B4C52;
}

.modal__btn {
    width: 100%;
    background: #D2D3D9;
    border-radius: 2px;
    padding: 21px 0;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #16161A;
    cursor:  pointer;
}

.modal__btn:disabled {
    opacity: 0.5;
}