.wrapper {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
}

.title__text {
	font-size: 1.5rem;
}


.container {
	display: grid;
	grid-template-columns: 3fr 5fr;
}

.loadingIcon {
	animation: spin 1s linear infinite;
}

.loadingIcon__path {
	fill: var(--c-text);
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
