.wrapper {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
}

.title__text {
	font-size: 1.5rem;
}

.container {
	display: flex;
	flex-direction: row;

}

@media only screen and (min-width: 320px) and (max-width: 800px) {
	.container{
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}

@media only screen and (min-width: 320px) and (max-width: 459px) {
	.title {
		flex-direction: column;
		text-align: center;
		gap: 0.5em;
	}
}