.root {}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
}

.title__text {
	font-size: 1.5rem;
}

.container {
	display: grid;
	grid-template-columns: 3fr 5fr;
}
