.root {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding: 1.5em;
	border-radius: 1em;
	color: var(--c-text);
	border: 3px solid var(--c-second-light);
}

.title {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
}

.title__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2em;
}

.author,
.email,
.text {
	padding: 0.6em;
	border: 1px solid var(--c-second-light);
	border-radius: 0.5em;
}

.text {
	margin-top: 1em;
}

.author,
.email {
	flex-grow: 1;
}
