.root {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em;
	padding: 1.5em;
	border-radius: 1em;
	color: var(--c-text);
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border: 1px solid rgba(255, 255, 255, 0.29);
}

.author {
	display: flex;
	padding: 0.6em;
	border-radius: 0.5em;
	word-break: break-word;
}
.dot {
	display: inline-flex;
	margin-right: 0.8em;
	align-items: center;
}
.dot::after {
	content: "";
	width: 0.5em;
	height: 0.5em;
	background-color: var(--c-second-light);
	border-radius: 50%;
}

.rate {
	justify-self: end;
}

.text {
	grid-column: 1 / span 2;
	padding: 0.6em;
	border-left: 1px solid var(--c-second-light);
	border-radius: 0.5em;
}

.author,
.rate {
	flex-grow: 1;
}
