.row {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1.5em;
    background-color: #0c7e2c;
    border-radius: 1em;
    color: var(--c-text);
}

.wrapper {
    margin-bottom: 2em;
}

.row__title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}
.title__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}
.author, .email, .text {
    padding: 0.5em;
    background-color: #1e1e1e;
    border-radius: 0.5em;
}
.author, .email {
    /* padding-right: 2em; */
    /* padding-left: 1em; */
    flex-grow: 1;
}
.id {
    position: absolute;
    right: 0;
    top: 0;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e9a36;
    border-radius: 50%;
    transform: translate(40%, -40%);
}